/* .video{
    border: 2px black solid;
    margin: 0.5rem;
    width: 90%;
    overflow: hidden;
    padding: 0.5rem;
    justify-content: space-between;
    max-height: 8rem;
}
.image{
    min-width: 40%;
    display: flex;
    overflow: hidden;
    object-fit: cover;
}
.videoInfo{
    width: 60%;
    padding: 0.5rem;
}
.description{
    max-height: 50%;
    overflow: scroll;
} */

.videoContainer{
    position: relative;
    padding: 1rem;
    height: 80%;
}
.videoslist{
    width: 50%;
    height: 50rem;
    overflow-y: scroll;
}

.card-title{
    /* font-size: 0.9rem !important; */
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.PlayListCardBody{ 
    width: 55%;
}
.description{
    overflow: hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}


